/* .App {
  text-align: center;
} */
html {
  height: 100vh;
}
body {
  height: 100%;
  background-color: rgb(30, 79, 212);
}

#root {
  height: 100%;
}
.App {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: white;
}
/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-header {
  background-color: #1a2233;
  min-height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}